<div *ngIf="marker">
    <agm-marker [latitude]="marker.latitude" [longitude]="marker.longitude" [iconUrl]="iconUrl" *ngIf="iconUrl">
        <agm-info-window>
            <button class="btn btn-outline-success" routerLink="/usterki" (click)="getMarkerId(marker.id)"> {{marker.info}}</button>
        </agm-info-window>
    </agm-marker>
    <!-- <agm-circle [latitude]="marker.latitude" [longitude]="marker.longitude" [radius]="120" [fillOpacity]="0.50" [fillColor]="'#00A19A'"></agm-circle> -->
</div>