.btn-success{
    margin-top: 2%;
    margin-left: 50%;
    transform: translate(-50%);
  }

  .help-block{
    color: red;
    font-size: 16px;
  }
  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  p {
    font-weight: bold;
    color: black;
}