<div class="container-fluid">
    <div class="row">
            <div class="col-md-12">
                <h1>{{title}}</h1>
            </div>
    </div>
</div>
    <app-map></app-map>
<div class="container-fluid">
    <div class="row add-defect">
        <div class="col-md-8">
            <p>Jeżeli na komputer, który używałeś wkradł się wirus lub potknąłeś się wchodząc po schodach na swój wydział, ostrzeż innych dodając informację tutaj.</p>
        </div>
        <div class="col-md-4 text-center">
            <button class="btn btn-success btn-lg btn-block" routerLink="/dodaj-usterke">Dodaj usterkę</button>
        </div>
    </div>
    <hr>
</div>