<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="2">Twoje dane</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Imię</td>
                <td> {{ user?.name }} </td>
            </tr>
            <tr>
                <td>Nazwisko</td>
                <td> {{ user?.surname }} </td>
            </tr>
            <tr>
                <td>Email</td>
                <td> {{ user?.email }} </td>
            </tr>
        </tbody>
    </table>
    <app-account-administation [user]="user"></app-account-administation>
    <app-account-change-password [user]="user"></app-account-change-password>
</div>