<hr>
<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Usterki">
        <ng-template matTabContent>
            <div class="space"></div>
            <app-manage-page-place-admin-defects></app-manage-page-place-admin-defects>
        </ng-template>
    </mat-tab>
    <mat-tab label="Komentarze">
        <ng-template matTabContent>
            <div class="space"></div>
            <app-manage-page-place-admin-comments></app-manage-page-place-admin-comments>
        </ng-template>
    </mat-tab>
    <mat-tab label="Dodaj salę do miejsca">
        <ng-template matTabContent>
            <div class="space"></div>
            <app-manage-page-place-admin-add-room></app-manage-page-place-admin-add-room>
        </ng-template>
    </mat-tab>
</mat-tab-group>
