<div class="container">
    <div class="row">
      <div class="col-sx-12 question">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</p>
      </div>
      <hr>
      <div class="col-sx-12 answer">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor vestibulum eros, a vulputate sem accumsan et. Vestibulum dictum ex tellus, at imperdiet augue molestie ac. In eget bibendum eros. Nullam sed volutpat eros, vel fringilla libero. Maecenas vel auctor diam. Phasellus a metus eget augue scelerisque ullamcorper vel ac velit. Vivamus mollis aliquam luctus. Donec eleifend congue dictum. Duis ac orci at nisl ullamcorper ultrices. In ac egestas odio. Duis porttitor eu tellus sit amet finibus. Nunc congue est vitae justo auctor consectetur.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sx-12 question">
        <p>Quisque lacus?</p>
      </div>
      <hr>
      <div class="col-sx-12 answer">
        <p>Donec tempor vestibulum eros, a vulputate sem accumsan et. Vestibulum dictum ex tellus, at imperdiet augue molestie ac. In eget bibendum eros. Nullam sed volutpat eros, vel fringilla libero. Maecenas vel auctor diam. Phasellus a metus eget augue scelerisque ullamcorper vel ac velit. Vivamus mollis aliquam luctus. Donec eleifend congue dictum. Duis ac orci at nisl ullamcorper ultrices. In ac egestas odio. Duis porttitor eu tellus sit amet finibus. Nunc congue est vitae justo auctor consectetur.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sx-12 question">
        <p>Vivamus mattis erat elit?</p>
      </div>
      <hr>
      <div class="col-sx-12 answer">
        <p>Vivamus mollis aliquam luctus. Donec eleifend congue dictum. Duis ac orci at nisl ullamcorper ultrices. In ac egestas odio. Duis porttitor eu tellus sit amet finibus. Nunc congue est vitae justo auctor consectetur.
  
          Donec nec nibh purus. Vivamus mattis erat elit, sed lacinia libero eleifend eu. Curabitur sed tempus mauris. Morbi consectetur, tellus sed faucibus fermentum, dolor est sagittis mauris, quis commodo erat magna id massa. Nunc pulvinar ex nec leo pulvinar, in pretium sapien luctus. Aliquam quam tellus, semper a nibh quis, aliquam elementum ligula. Morbi sollicitudin ut sapien accumsan imperdiet.</p>
      </div>
    </div>
  </div>
  