<hr>
<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Usterki">
        <ng-template matTabContent>
            <div class="space"></div>
            <app-manage-page-admin-defects></app-manage-page-admin-defects>
        </ng-template>
    </mat-tab>
    <mat-tab label="Komentarze">
        <ng-template matTabContent>
            <div class="space"></div>
            <app-manage-page-admin-comments></app-manage-page-admin-comments>
        </ng-template>
    </mat-tab>
    <mat-tab label="Dodaj zarządce budynku">
        <ng-template matTabContent>
            <div class="space"></div>
            <app-manage-page-admin-add-place-admin></app-manage-page-admin-add-place-admin>
        </ng-template>
    </mat-tab>
</mat-tab-group>