<div class="container">
        <button [disabled]="!showButton" style="float:right;" type="button" class="btn btn-warning" (click)="delete()">
            <i class="fas fa-trash"></i> Usuń wybrane
        </button>
        <table class="table">
            <thead class="table-success">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Data</th>
                    <th scope="col">Login użytkownika</th>
                    <th scope="col">Miejsce</th>
                    <th scope="col">Stefa/sala</th>
                    <th scope="col">Stan usterki</th>
                    <th scope="col">Podgląd</th>
                    <th scope="col">Zaznacz</th>
                </tr>
            </thead>
            <tbody *ngFor="let defect of defects">
                    <tr *ngIf="defect && rooms && places">
                        <td> {{defect?.id}}</td>
                            <td>{{defect?.date | date:'dd-MM-yyyy'}} </td>
                            <td>{{users[defect.idUser-1].login}} </td>
                            <td>{{places[defect?.idPlace-1]?.name}}</td>
                            <td *ngIf="defect?.idPlace === 17"> Nieokreślona </td>
                            <td *ngIf="defect?.idPlace !== 17">{{rooms[defect?.idRoom-1]?.name}}</td>
                            <td> <ng-container [ngSwitch]="DefectState[defect?.defectState]">
                                <ng-container *ngSwitchCase="DefectState.ForRepair">Do naprawy</ng-container>
                                <ng-container *ngSwitchCase="DefectState.Repaired" >Naprawiona</ng-container>
                                <ng-container *ngSwitchCase="DefectState.RepairInProgress">Trwają prace</ng-container>
                                <ng-container *ngSwitchCase="DefectState.WontBeRepaired">Nie będzie naprawiana</ng-container>
                                <ng-container *ngSwitchDefault>Nieznany typ</ng-container>
                            </ng-container>
                            <br>
                            <button class="btn btn-light btn-sm" (click)="openDialog(defect)">Zmień stan</button>
                        </td>
                            <td><button class="btn btn-light" (click)="loadDefectItemPage(defect)">Przejdź do usterki</button></td>
                            <td><input type="checkbox" value={{defect?.id}} (change)="change($event, defect)"></td>
                          </tr>
            </tbody>
        </table>
    </div>