<div class="container">
<form #addRoomForm="ngForm" (ngSubmit)="addRoomButtonClick()">
    <div class="form-group">
        <label class="control-label" for="place">Wybierz miejsce do którego chcesz dodaj pokój: </label>
            <select class="form-control" name="place" [(ngModel)]="place" required #placeModel="ngModel"
                (ngModelChange)="onChange($event)">
                <option *ngFor="let place of places" [ngValue]="place">{{place?.name}}</option>
            </select>
            <div class="help-block" *ngIf="placeModel.invalid && placeModel.touched">
                Pole jest wymagane
            </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="room">Wpisz numer lub nazwę pomieszczenia:</label>
        <input type="text" class="form-control col-sm-4" name="room" id="room" aria-describedby="helpAddRoom" [(ngModel)]="room" required #addRoomModel="ngModel">
        <div class="help-block" *ngIf="addRoomModel.invalid && addRoomModel.touched">
            Pole jest wymagane
        </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="(!addRoomForm.form.valid)">Dodaj usterkę</button>
</form>
</div>